<header class="d-flex justify-content-between p-3">
    <%= link_to user_path(id: current_user.id), class: 'fs-1' do %>
        <i class="fas fa-bars"></i>
    <% end %>
    <h1 >NEW CATEGORY</h1>
    <%= link_to groups_path, class: 'fs-1' do %>
        <i class="fas fa-arrow-left"></i>
    <% end %>
</header>
<section class="new_cake user d-flex flex-column align-items-center pt-5">
    
    <div class="form d-flex justify-content-center text-start">
        <%= render 'form' %>
    </div>
    <hr width= "100px">
    

</section>