<h1>New User</h1>

<%= render 'form', user: @user %>

<div class = "ms-auto w-50 ">
    <h6 class= "d-inline " >Already have an acount?</h6>
    <p><%=link_to "Login", new_session_path, class: "text-light fw-bold"%></p>
</div>


