<section class="home bg-light">
    <div class="heading d-flex justify-content-center align-items-center">
        <h1 >Group our Cakes</h1>
    </div>
    <div class="links ">
        <%=link_to "Login", login_path, class: "btn btn-block btn-info d-block w-75 mx-auto"%> 
        <%=link_to "Signup", signup_path, class: "btn btn-block btn-light d-block w-75 mx-auto"%>
    </div>

</section>

<p>Find me in app/views/home/index.html.erb</p>
